In [1]:
import pandas as pd
import datetime as dt

# Review of python's datetime module

<br>
____________________________________________________________________________________________________________________________

### Date

In [2]:
someday = dt.date(2016, 4, 12)
print("Someday: ", someday)

print("Year: ",someday.year)

print("Month: ",someday.month)

print("Day: ",someday.day)

Someday:  2016-04-12
Year:  2016
Month:  4
Day:  12

<br>
____________________________________________________________________________________________________________________________

### Datetime

In [3]:
dt.datetime(2016, 1, 12)

datetime.datetime(2016, 1, 12, 0, 0)

In [4]:
dt.datetime(2016, 1, 12, 8, 15, 20)

datetime.datetime(2016, 1, 12, 8, 15, 20)

In [5]:
str(dt.datetime(2016, 1, 12, 8, 15, 20))

'2016-01-12 08:15:20'

In [6]:
sometime = dt.datetime(2016, 1, 12, 8, 15, 20)
print("Sometime: ", sometime)

print("Year: ",sometime.year)

print("Month: ",sometime.month)

print("Day: ",sometime.day)

print("Hr: ",sometime.hour)

print("Mins: ",sometime.minute)

print("Sec: ",sometime.second)

Sometime:  2016-01-12 08:15:20
Year:  2016
Month:  1
Day:  12
Hr:  8
Mins:  15
Sec:  20

<br>
____________________________________________________________________________________________________________________________

### Pandas Timestamp object

In [7]:
print(pd.Timestamp("2015-03-01"))      # YYYY-MM-DD

print(pd.Timestamp("2015/03/01"))      # YYYY-MM-DD

print(pd.Timestamp("2015,01,03"))      # YYYY-DD-MM  

print(pd.Timestamp("3,1,15"))          # MM-DD-YYYY

print(pd.Timestamp("3/22/2012"))       # Automatic Detection

print(pd.Timestamp("2016-03-23 06:35:30"))

print(pd.Timestamp("2016-03-23 06:35:30 PM"))

2015-03-01 00:00:00
2015-03-01 00:00:00
2015-03-01 00:00:00
2015-03-01 00:00:00
2012-03-22 00:00:00
2016-03-23 06:35:30
2016-03-23 18:35:30

<br>
____________________________________________________________________________________________________________________________

### Pandas DateTimeIndex Object

In [8]:
dates = ['2016-01-02','2019-05-12','2021-12-22']

In [9]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2019-05-12', '2021-12-22'], dtype='datetime64[ns]', freq=None)

In [10]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 23)]

dt_index = pd.DatetimeIndex(dates)

dt_index

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-23'], dtype='datetime64[ns]', freq=None)

In [11]:
values = [100, 200, 300]
pd.Series(data = values, index = dt_index)

2016-01-10    100
1994-06-13    200
2003-12-23    300
dtype: int64

<br>
____________________________________________________________________________________________________________________________

### pd.to_datetime() method

In [12]:
print(pd.to_datetime("2009-04-19"))

print(pd.to_datetime(dt.date(2005,1,1)))

print(pd.to_datetime(dt.datetime(2015,1,1, 14,35,22)))

print(pd.to_datetime(["2015-09-12", "2015/09/12", "2016", "July 4th, 1996"]))

2009-04-19 00:00:00
2005-01-01 00:00:00
2015-01-01 14:35:22
DatetimeIndex(['2015-09-12', '2015-09-12', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [13]:
values = pd.Series(["2015-09-12", "2015/09/12", "2016", "July 4th, 1996"])

pd.to_datetime(values)

0   2015-09-12
1   2015-09-12
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [14]:
values = pd.Series(["2015-09-12", "2015/09/12", "Hello", "2016", "July 4th, 1996", "2015/28/28"])

pd.to_datetime(values, errors='coerce')  # errors='coerce' avoid errors

0   2015-09-12
1   2015-09-12
2          NaT
3   2016-01-01
4   1996-07-04
5          NaT
dtype: datetime64[ns]

In [15]:
# Unix-Time

lst = [1618683981, 1618122381, 1613629581]

pd.to_datetime(lst, unit='s')

DatetimeIndex(['2021-04-17 18:26:21', '2021-04-11 06:26:21',
               '2021-02-18 06:26:21'],
              dtype='datetime64[ns]', freq=None)

<br>
____________________________________________________________________________________________________________________________

### pd.date_range()

####  freq='D' : Frequency of 1 days

In [16]:
# 2 or more parameters are required

times = pd.date_range(start="2016-01-01", end="2016-01-10", freq='D')
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [18]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

####  freq='2D' : Frequency of 2 days

In [19]:
times2 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='2D')
times2

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

<br>
______________________________________________________________________________________________________________________________

####  freq='B' : Include only Business Days

In [20]:
times3 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='B')
times3

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

<br>
______________________________________________________________________________________________________________________________

####  freq='W' : Include only week Days

In [21]:
times4 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='W')
times4

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

####  freq='W-MON' : Include Week Days from which we have to start

In [22]:
times5 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='W-MON')
times5

DatetimeIndex(['2016-01-04'], dtype='datetime64[ns]', freq='W-MON')

<br>
______________________________________________________________________________________________________________________________

####  freq='H' : Include Hours

In [23]:
times6 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='H')
times6

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

####  freq='H' : Include Hours in certain intervals

In [24]:
# every 2 hrs

times7 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='2H')
times7

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 02:00:00',
               '2016-01-01 04:00:00', '2016-01-01 06:00:00',
               '2016-01-01 08:00:00', '2016-01-01 10:00:00',
               '2016-01-01 12:00:00', '2016-01-01 14:00:00',
               '2016-01-01 16:00:00', '2016-01-01 18:00:00',
               ...
               '2016-01-09 06:00:00', '2016-01-09 08:00:00',
               '2016-01-09 10:00:00', '2016-01-09 12:00:00',
               '2016-01-09 14:00:00', '2016-01-09 16:00:00',
               '2016-01-09 18:00:00', '2016-01-09 20:00:00',
               '2016-01-09 22:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=109, freq='2H')

<br>
______________________________________________________________________________________________________________________________

####  freq='M' : Include Months last days

In [25]:
times8 = pd.date_range(start="2016-01-01", end="2016-11-15", freq='M')
times8

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31'],
              dtype='datetime64[ns]', freq='M')

####  freq='6M' : Include 6 Months last days in certain intervals

In [26]:
times9 = pd.date_range(start="2016-01-01", end="2016-11-10", freq='6M')
times9

DatetimeIndex(['2016-01-31', '2016-07-31'], dtype='datetime64[ns]', freq='6M')

####  freq='MS' : Include Start of the Months in certain intervals

In [27]:
times10 = pd.date_range(start="2016-01-01", end="2016-11-10", freq='MS')
times10

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

<br>
______________________________________________________________________________________________________________________________

####  freq='A' : Include last day of each year

In [28]:
times11 = pd.date_range(start="2016-01-01", end="2050-01-01", freq='A')
times11

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

<br>
______________________________________________________________________________________________________________________________

### Using periods = N value

In [29]:
# period of 25 days

dates = pd.date_range(start="2016-01-01", periods=25, freq='D')
print(dates)
print("LENGTH:",len(dates))

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16',
               '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20',
               '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24',
               '2016-01-25'],
              dtype='datetime64[ns]', freq='D')
LENGTH: 25

In [30]:
# 50 business days 

dates = pd.date_range(start="2016-01-01", periods=50, freq='B')
print(dates)
print("LENGTH:",len(dates))

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-18',
               '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-02-01', '2016-02-02', '2016-02-03',
               '2016-02-04', '2016-02-05', '2016-02-08', '2016-02-09',
               '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-15',
               '2016-02-16', '2016-02-17', '2016-02-18', '2016-02-19',
               '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25',
               '2016-02-26', '2016-02-29', '2016-03-01', '2016-03-02',
               '2016-03-03', '2016-03-04', '2016-03-07', '2016-03-08',
               '2016-03-09', '2016-03-10'],
              dtype='datetime64[ns]', freq='B')
LENGTH: 50

In [31]:
# 50 days seperated by 1 week

dates = pd.date_range(start="2016-01-01", periods=50, freq='W')
print(dates)
print("LENGTH:",len(dates))

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20',
               '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17',
               '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
               '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12',
               '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10',
               '2016-07-17', '2016-07-24', '2016-07-31', '2016-08-07',
               '2016-08-14', '2016-08-21', '2016-08-28', '2016-09-04',
               '2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02',
               '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30',
               '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27',
               '2016-12-04', '2016-12-11'],
              dtype='datetime64[ns]', freq='W-SUN')
LENGTH: 50

In [32]:
# 50 days from start week TUE

dates = pd.date_range(start="2016-01-01", periods=50, freq='W-TUE')
print(dates)
print("LENGTH:",len(dates))

DatetimeIndex(['2016-01-05', '2016-01-12', '2016-01-19', '2016-01-26',
               '2016-02-02', '2016-02-09', '2016-02-16', '2016-02-23',
               '2016-03-01', '2016-03-08', '2016-03-15', '2016-03-22',
               '2016-03-29', '2016-04-05', '2016-04-12', '2016-04-19',
               '2016-04-26', '2016-05-03', '2016-05-10', '2016-05-17',
               '2016-05-24', '2016-05-31', '2016-06-07', '2016-06-14',
               '2016-06-21', '2016-06-28', '2016-07-05', '2016-07-12',
               '2016-07-19', '2016-07-26', '2016-08-02', '2016-08-09',
               '2016-08-16', '2016-08-23', '2016-08-30', '2016-09-06',
               '2016-09-13', '2016-09-20', '2016-09-27', '2016-10-04',
               '2016-10-11', '2016-10-18', '2016-10-25', '2016-11-01',
               '2016-11-08', '2016-11-15', '2016-11-22', '2016-11-29',
               '2016-12-06', '2016-12-13'],
              dtype='datetime64[ns]', freq='W-TUE')
LENGTH: 50

In [33]:
# 50 Months Start Days

dates = pd.date_range(start="2016-01-01", periods=50, freq='MS')
print(dates)
print("LENGTH:",len(dates))

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01'],
              dtype='datetime64[ns]', freq='MS')
LENGTH: 50

<br>
______________________________________________________________________________________________________________________________

### Using end = N value

In [34]:
times = pd.date_range(end='1999-12-31', periods=50, freq='D')
times

DatetimeIndex(['1999-11-12', '1999-11-13', '1999-11-14', '1999-11-15',
               '1999-11-16', '1999-11-17', '1999-11-18', '1999-11-19',
               '1999-11-20', '1999-11-21', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-27',
               '1999-11-28', '1999-11-29', '1999-11-30', '1999-12-01',
               '1999-12-02', '1999-12-03', '1999-12-04', '1999-12-05',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-11', '1999-12-12', '1999-12-13',
               '1999-12-14', '1999-12-15', '1999-12-16', '1999-12-17',
               '1999-12-18', '1999-12-19', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-25',
               '1999-12-26', '1999-12-27', '1999-12-28', '1999-12-29',
               '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [35]:
# get only business days

times = pd.date_range(end='1999-12-31', periods=50, freq='B')
times

DatetimeIndex(['1999-10-25', '1999-10-26', '1999-10-27', '1999-10-28',
               '1999-10-29', '1999-11-01', '1999-11-02', '1999-11-03',
               '1999-11-04', '1999-11-05', '1999-11-08', '1999-11-09',
               '1999-11-10', '1999-11-11', '1999-11-12', '1999-11-15',
               '1999-11-16', '1999-11-17', '1999-11-18', '1999-11-19',
               '1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-29', '1999-11-30', '1999-12-01',
               '1999-12-02', '1999-12-03', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-13',
               '1999-12-14', '1999-12-15', '1999-12-16', '1999-12-17',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-27', '1999-12-28', '1999-12-29',
               '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [36]:
# get only SUNDAYS

times = pd.date_range(end='1999-12-31', periods=50, freq='W-SUN')
times

DatetimeIndex(['1999-01-17', '1999-01-24', '1999-01-31', '1999-02-07',
               '1999-02-14', '1999-02-21', '1999-02-28', '1999-03-07',
               '1999-03-14', '1999-03-21', '1999-03-28', '1999-04-04',
               '1999-04-11', '1999-04-18', '1999-04-25', '1999-05-02',
               '1999-05-09', '1999-05-16', '1999-05-23', '1999-05-30',
               '1999-06-06', '1999-06-13', '1999-06-20', '1999-06-27',
               '1999-07-04', '1999-07-11', '1999-07-18', '1999-07-25',
               '1999-08-01', '1999-08-08', '1999-08-15', '1999-08-22',
               '1999-08-29', '1999-09-05', '1999-09-12', '1999-09-19',
               '1999-09-26', '1999-10-03', '1999-10-10', '1999-10-17',
               '1999-10-24', '1999-10-31', '1999-11-07', '1999-11-14',
               '1999-11-21', '1999-11-28', '1999-12-05', '1999-12-12',
               '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [37]:
# get only FRIDAY

times = pd.date_range(end='1999-12-31', periods=50, freq='W-FRI')
times

DatetimeIndex(['1999-01-22', '1999-01-29', '1999-02-05', '1999-02-12',
               '1999-02-19', '1999-02-26', '1999-03-05', '1999-03-12',
               '1999-03-19', '1999-03-26', '1999-04-02', '1999-04-09',
               '1999-04-16', '1999-04-23', '1999-04-30', '1999-05-07',
               '1999-05-14', '1999-05-21', '1999-05-28', '1999-06-04',
               '1999-06-11', '1999-06-18', '1999-06-25', '1999-07-02',
               '1999-07-09', '1999-07-16', '1999-07-23', '1999-07-30',
               '1999-08-06', '1999-08-13', '1999-08-20', '1999-08-27',
               '1999-09-03', '1999-09-10', '1999-09-17', '1999-09-24',
               '1999-10-01', '1999-10-08', '1999-10-15', '1999-10-22',
               '1999-10-29', '1999-11-05', '1999-11-12', '1999-11-19',
               '1999-11-26', '1999-12-03', '1999-12-10', '1999-12-17',
               '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [38]:
# get only Months start in every 6 months

times = pd.date_range(end='1999-12-31', periods=50, freq='6MS')
times

DatetimeIndex(['1975-06-01', '1975-12-01', '1976-06-01', '1976-12-01',
               '1977-06-01', '1977-12-01', '1978-06-01', '1978-12-01',
               '1979-06-01', '1979-12-01', '1980-06-01', '1980-12-01',
               '1981-06-01', '1981-12-01', '1982-06-01', '1982-12-01',
               '1983-06-01', '1983-12-01', '1984-06-01', '1984-12-01',
               '1985-06-01', '1985-12-01', '1986-06-01', '1986-12-01',
               '1987-06-01', '1987-12-01', '1988-06-01', '1988-12-01',
               '1989-06-01', '1989-12-01', '1990-06-01', '1990-12-01',
               '1991-06-01', '1991-12-01', '1992-06-01', '1992-12-01',
               '1993-06-01', '1993-12-01', '1994-06-01', '1994-12-01',
               '1995-06-01', '1995-12-01', '1996-06-01', '1996-12-01',
               '1997-06-01', '1997-12-01', '1998-06-01', '1998-12-01',
               '1999-06-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='6MS')

In [39]:
# get interval of 7H

times = pd.date_range(end='1999-12-31', periods=50, freq='7H')
times

DatetimeIndex(['1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

<br>
______________________________________________________________________________________________________________________________

### .dt Accessor

In [40]:
random_dates = pd.date_range(start="2000-01-01", end="2010-12-31", freq="12D")
random_dates

DatetimeIndex(['2000-01-01', '2000-01-13', '2000-01-25', '2000-02-06',
               '2000-02-18', '2000-03-01', '2000-03-13', '2000-03-25',
               '2000-04-06', '2000-04-18',
               ...
               '2010-09-05', '2010-09-17', '2010-09-29', '2010-10-11',
               '2010-10-23', '2010-11-04', '2010-11-16', '2010-11-28',
               '2010-12-10', '2010-12-22'],
              dtype='datetime64[ns]', length=335, freq='12D')

In [41]:
s = pd.Series(random_dates)
print(s)

0     2000-01-01
1     2000-01-13
2     2000-01-25
3     2000-02-06
4     2000-02-18
         ...
330   2010-11-04
331   2010-11-16
332   2010-11-28
333   2010-12-10
334   2010-12-22
Length: 335, dtype: datetime64[ns]

In [42]:
# Extracting Days

s.dt.day

0       1
1      13
2      25
3       6
4      18
       ..
330     4
331    16
332    28
333    10
334    22
Length: 335, dtype: int64

In [43]:
# Extract Weekday (0: Sunday - 6: Saturday)

s.dt.weekday

0      5
1      3
2      1
3      6
4      4
      ..
330    3
331    1
332    6
333    4
334    2
Length: 335, dtype: int64

In [44]:
# Extract Weekday Names

s.dt.day_name()

0       Saturday
1       Thursday
2        Tuesday
3         Sunday
4         Friday
         ...
330     Thursday
331      Tuesday
332       Sunday
333       Friday
334    Wednesday
Length: 335, dtype: object

In [45]:
# Extract Month Start

mask = s.dt.is_month_start

s[mask]

0     2000-01-01
5     2000-03-01
38    2001-04-01
76    2002-07-01
109   2003-08-01
175   2005-10-01
208   2006-11-01
218   2007-03-01
274   2009-01-01
284   2009-05-01
307   2010-02-01
317   2010-06-01
dtype: datetime64[ns]

<br>
____________________________________________________________________________________________________________________________

### Import Financial Data set with `pandas_datareader` library

In [46]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [47]:
c_name = "MFST" # Company from which we want information

c_start = "2015-01-01"

c_end   = "2020-12-31"  


df = data.DataReader(name = c_name, data_source = 'yahoo', start = c_start, end = c_end)
df.head()

                 High        Low       Open      Close  Volume  Adj Close
Date
2014-12-31  24.000000  22.500000  24.000000  22.500000    55.0  22.500000
2015-01-02  28.000000  22.000000  28.000000  22.000000   105.0  22.000000
2015-01-05  23.700001  23.700001  23.700001  23.700001    75.0  23.700001
2015-01-06  23.700001  23.700001  23.700001  23.700001     0.0  23.700001
2015-01-07  22.100000  21.100000  22.100000  21.100000    66.0  21.100000

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1512 entries, 2014-12-31 to 2020-12-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1512 non-null   float64
 1   Low        1512 non-null   float64
 2   Open       1512 non-null   float64
 3   Close      1512 non-null   float64
 4   Volume     1512 non-null   float64
 5   Adj Close  1512 non-null   float64
dtypes: float64(6)
memory usage: 82.7 KB

<br>
____________________________________________________________________________________________________________________________

### Selecting from a DataFrame with a DateTimeIndex

In [49]:
df.loc["2015-03-04"]

High          26.000000
Low           20.200001
Open          26.000000
Close         25.000000
Volume       330.000000
Adj Close     25.000000
Name: 2015-03-04 00:00:00, dtype: float64

In [50]:
df.iloc[265]

High           6.6
Low            5.0
Open           5.1
Close          6.6
Volume       223.0
Adj Close      6.6
Name: 2016-01-21 00:00:00, dtype: float64

In [51]:
df.loc["2019-04-15":"2019-04-25"]

               High     Low     Open    Close    Volume  Adj Close
Date
2019-04-15  0.09000  0.0900  0.09000  0.09000     101.0    0.09000
2019-04-16  0.09000  0.0840  0.08400  0.08400   13102.0    0.08400
2019-04-17  0.09000  0.0780  0.09000  0.07800   23304.0    0.07800
2019-04-18  0.07500  0.0600  0.06500  0.06500  663948.0    0.06500
2019-04-22  0.07500  0.0575  0.05750  0.06500  451835.0    0.06500
2019-04-23  0.08995  0.0675  0.06750  0.07925  812578.0    0.07925
2019-04-24  0.07950  0.0610  0.07925  0.06990  779808.0    0.06990
2019-04-25  0.07000  0.0610  0.06100  0.06550  706219.0    0.06550

In [52]:
k = pd.Series(pd.to_datetime(["2019-04-19","2019-04-20","2019-04-21"]))
k

0   2019-04-19
1   2019-04-20
2   2019-04-21
dtype: datetime64[ns]

In [53]:
k.dt.day_name()

0      Friday
1    Saturday
2      Sunday
dtype: object

In [54]:
# Extract Microsoft share price at every birth-day of mine

val = pd.date_range(start = "1999-06-16", end = "2020-12-31", freq=pd.DateOffset(years=1))
val

DatetimeIndex(['1999-06-16', '2000-06-16', '2001-06-16', '2002-06-16',
               '2003-06-16', '2004-06-16', '2005-06-16', '2006-06-16',
               '2007-06-16', '2008-06-16', '2009-06-16', '2010-06-16',
               '2011-06-16', '2012-06-16', '2013-06-16', '2014-06-16',
               '2015-06-16', '2016-06-16', '2017-06-16', '2018-06-16',
               '2019-06-16', '2020-06-16'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [55]:
df[df.index.isin(val)]

               High      Low     Open     Close      Volume  Adj Close
Date
2015-06-16  15.0000  15.0000  15.0000  15.00000         0.0   15.00000
2016-06-16   9.5000   7.2000   7.8000   7.50000       783.0    7.50000
2017-06-16   2.4000   2.1000   2.3000   2.40000      1074.0    2.40000
2020-06-16   0.0003   0.0002   0.0002   0.00021  15189759.0    0.00021

In [56]:
b = pd.Series(pd.to_datetime(["2017-06-16","2018-06-16","2019-06-16"]))
b.dt.day_name()

0      Friday
1    Saturday
2      Sunday
dtype: object

<br>
____________________________________________________________________________________________________________________________

### Timestamp Object Attribute

In [57]:
df.head()

                 High        Low       Open      Close  Volume  Adj Close
Date
2014-12-31  24.000000  22.500000  24.000000  22.500000    55.0  22.500000
2015-01-02  28.000000  22.000000  28.000000  22.000000   105.0  22.000000
2015-01-05  23.700001  23.700001  23.700001  23.700001    75.0  23.700001
2015-01-06  23.700001  23.700001  23.700001  23.700001     0.0  23.700001
2015-01-07  22.100000  21.100000  22.100000  21.100000    66.0  21.100000

In [58]:
someday = df.index[500]
someday

Timestamp('2016-12-23 00:00:00')

In [59]:
print("Someday: ", someday)

print("Year: ",someday.year)

print("Month: ",someday.month)

print("Day: ",someday.day)

Someday:  2016-12-23 00:00:00
Year:  2016
Month:  12
Day:  23

In [60]:
# Inserting the Weekday name column

df.insert(loc=0, column="Day_Of_Week", value=df.index.day_name())

In [61]:
df.head(2)

           Day_Of_Week  High   Low  Open  Close  Volume  Adj Close
Date
2014-12-31   Wednesday  24.0  22.5  24.0   22.5    55.0       22.5
2015-01-02      Friday  28.0  22.0  28.0   22.0   105.0       22.0

In [62]:
# Inserting the Is month start column

df.insert(loc=1, column="Is_Month_Start", value=df.index.is_month_start)

In [63]:
df.head(2)

,Day_Of_Week,Is_Month_Start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2014-12-31,Wednesday,False,24.0,22.5,24.0,22.5,55.0,22.5
2015-01-02,Friday,False,28.0,22.0,28.0,22.0,105.0,22.0

In [64]:
# want to know what was the stock price was at the beginning of each month that has a valid day

df[df['Is_Month_Start'] == True]

,Day_Of_Week,Is_Month_Start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2015-04-01,Wednesday,True,19.00000,16.10000,16.10000,19.00000,33.0,19.00000
2015-05-01,Friday,True,15.80000,13.00000,13.00000,15.00000,106.0,15.00000
2015-06-01,Monday,True,16.90000,10.10000,12.50000,12.50000,44.0,12.50000
2015-07-01,Wednesday,True,10.20000,10.20000,10.20000,10.20000,0.0,10.20000
2015-09-01,Tuesday,True,13.70000,7.60000,12.40000,8.90000,2888.0,8.90000
2015-10-01,Thursday,True,14.30000,12.30000,14.30000,13.40000,69.0,13.40000
2015-12-01,Tuesday,True,8.40000,8.40000,8.40000,8.40000,0.0,8.40000
2016-02-01,Monday,True,8.80000,6.50000,6.80000,8.80000,542.0,8.80000
2016-03-01,Tuesday,True,11.76000,10.00000,10.00000,10.50000,1587.0,10.50000
2016-04-01,Friday,True,9.50000,8.90000,9.50000,8.90000,95.0,8.90000
2016-06-01,Wednesday,True,7.00000,6.00000,7.00000,6.00000,806.0,6.00000
2016-07-01,Friday,True,8.00000,7.20000,7.50000,8.00000,132.0,8.00000
2016-08-01,Monday,True,9.80000,9.00000,9.41000,9.10000,1633.0,9.10000
2016-09-01,Thursday,True,7.00000,6.39000,6.60000,6.95000,803.0,6.95000
2016-11-01,Tuesday,True,5.10000,4.50000,5.10000,4.70000,1633.0,4.70000
2016-12-01,Thursday,True,4.30000,3.70000,3.98000,4.20000,1623.0,4.20000
2017-02-01,Wednesday,True,8.90000,7.50000,8.50000,7.50000,3028.0,7.50000
2017-03-01,Wednesday,True,8.90000,7.80000,8.90000,8.60000,1967.0,8.60000
2017-05-01,Monday,True,6.80000,5.10000,5.60000,5.50000,26339.0,5.50000
2017-06-01,Thursday,True,2.60000,2.10000,2.59000,2.60000,8353.0,2.60000
2017-08-01,Tuesday,True,2.60000,2.10000,2.30000,2.40000,5773.0,2.40000
2017-09-01,Friday,True,2.00000,1.80000,2.00000,1.80000,4001.0,1.80000
2017-11-01,Wednesday,True,1.30000,1.20000,1.30000,1.25000,1789.0,1.25000
2017-12-01,Friday,True,0.90000,0.80000,0.90000,0.80000,3525.0,0.80000
2018-02-01,Thursday,True,0.60000,0.45000,0.50000,0.50000,6272.0,0.50000
2018-03-01,Thursday,True,0.60000,0.40000,0.50000,0.60000,19536.0,0.60000
2018-05-01,Tuesday,True,0.50000,0.30000,0.50000,0.40000,5992.0,0.40000
2018-06-01,Friday,True,0.50000,0.30000,0.50000,0.40000,865.0,0.40000
2018-08-01,Wednesday,True,0.18000,0.08000,0.08000,0.18000,10922.0,0.18000
2018-10-01,Monday,True,0.10000,0.09250,0.10000,0.09720,8956.0,0.09720
2018-11-01,Thursday,True,0.04495,0.03115,0.04495,0.04350,19345.0,0.04350
2019-02-01,Friday,True,0.04600,0.03000,0.03500,0.04500,558199.0,0.04500
2019-03-01,Friday,True,0.07495,0.06000,0.07495,0.06000,112410.0,0.06000
2019-04-01,Monday,True,0.06220,0.05060,0.06162,0.06220,23640.0,0.06220
2019-05-01,Wednesday,True,0.07810,0.06256,0.06490,0.07800,138726.0,0.07800
2019-07-01,Monday,True,0.02300,0.02250,0.02250,0.02300,61028.0,0.02300
2019-08-01,Thursday,True,0.03850,0.02510,0.02510,0.03500,769537.0,0.03500
2019-10-01,Tuesday,True,0.00980,0.00970,0.00980,0.00970,239875.0,0.00970
2019-11-01,Friday,True,0.00400,0.00290,0.00400,0.00380,9178032.0,0.00380
2020-04-01,Wednesday,True,0.00030,0.00020,0.00030,0.00025,807098.0,0.00025
2020-05-01,Friday,True,0.00030,0.00020,0.00030,0.00025,49934797.0,0.00025
2020-06-01,Monday,True,0.00050,0.00030,0.00050,0.00040,77061187.0,0.00040
2020-07-01,Wednesday,True,0.00030,0.00020,0.00030,0.00020,27850530.0,0.00020
2020-09-01,Tuesday,True,0.00030,0.00020,0.00020,0.00030,12789849.0,0.00030
2020-10-01,Thursday,True,0.00020,0.00015,0.00020,0.00020,16967507.0,0.00020
2020-12-01,Tuesday,True,0.00025,0.00020,0.00025,0.00020,3250009.0,0.00020

<br>
____________________________________________________________________________________________________________________________

### Truncate

In [65]:
df.head(2)

,Day_Of_Week,Is_Month_Start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2014-12-31,Wednesday,False,24.0,22.5,24.0,22.5,55.0,22.5
2015-01-02,Friday,False,28.0,22.0,28.0,22.0,105.0,22.0

In [66]:
df.truncate(before="2015-12-05", after="2015-12-31")

,Day_Of_Week,Is_Month_Start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2015-12-07,Monday,False,9.5,9.5,9.5,9.5,12.0,9.5
2015-12-08,Tuesday,False,12.3,9.2,9.2,12.0,484.0,12.0
2015-12-09,Wednesday,False,15.0,10.0,12.0,10.0,424.0,10.0
2015-12-10,Thursday,False,10.0,8.5,10.0,8.5,272.0,8.5
2015-12-11,Friday,False,10.9,8.5,10.0,8.5,50.0,8.5
2015-12-14,Monday,False,8.2,7.0,8.1,7.2,332.0,7.2
2015-12-15,Tuesday,False,10.0,6.5,6.5,9.6,308.0,9.6
2015-12-16,Wednesday,False,7.9,6.0,7.1,7.9,1316.0,7.9
2015-12-17,Thursday,False,7.9,7.9,7.9,7.9,0.0,7.9
2015-12-18,Friday,False,7.7,6.5,7.7,7.6,99.0,7.6
2015-12-21,Monday,False,7.2,6.2,6.2,6.2,107.0,6.2
2015-12-22,Tuesday,False,6.2,6.2,6.2,6.2,0.0,6.2
2015-12-23,Wednesday,False,6.5,6.5,6.5,6.5,2.0,6.5
2015-12-24,Thursday,False,6.5,6.5,6.5,6.5,0.0,6.5
2015-12-28,Monday,False,6.5,5.0,6.2,5.0,224.0,5.0
2015-12-29,Tuesday,False,7.4,7.4,7.4,7.4,0.0,7.4
2015-12-30,Wednesday,False,7.4,7.4,7.4,7.4,0.0,7.4
2015-12-31,Thursday,False,7.3,5.5,5.5,7.3,10.0,7.3

In [67]:
# alternative method

df.loc["2015-12-05":"2015-12-31"]

,Day_Of_Week,Is_Month_Start,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2015-12-07,Monday,False,9.5,9.5,9.5,9.5,12.0,9.5
2015-12-08,Tuesday,False,12.3,9.2,9.2,12.0,484.0,12.0
2015-12-09,Wednesday,False,15.0,10.0,12.0,10.0,424.0,10.0
2015-12-10,Thursday,False,10.0,8.5,10.0,8.5,272.0,8.5
2015-12-11,Friday,False,10.9,8.5,10.0,8.5,50.0,8.5
2015-12-14,Monday,False,8.2,7.0,8.1,7.2,332.0,7.2
2015-12-15,Tuesday,False,10.0,6.5,6.5,9.6,308.0,9.6
2015-12-16,Wednesday,False,7.9,6.0,7.1,7.9,1316.0,7.9
2015-12-17,Thursday,False,7.9,7.9,7.9,7.9,0.0,7.9
2015-12-18,Friday,False,7.7,6.5,7.7,7.6,99.0,7.6
2015-12-21,Monday,False,7.2,6.2,6.2,6.2,107.0,6.2
2015-12-22,Tuesday,False,6.2,6.2,6.2,6.2,0.0,6.2
2015-12-23,Wednesday,False,6.5,6.5,6.5,6.5,2.0,6.5
2015-12-24,Thursday,False,6.5,6.5,6.5,6.5,0.0,6.5
2015-12-28,Monday,False,6.5,5.0,6.2,5.0,224.0,5.0
2015-12-29,Tuesday,False,7.4,7.4,7.4,7.4,0.0,7.4
2015-12-30,Wednesday,False,7.4,7.4,7.4,7.4,0.0,7.4
2015-12-31,Thursday,False,7.3,5.5,5.5,7.3,10.0,7.3

<br>
____________________________________________________________________________________________________________________________

### pd.DateOffset Objects

In [68]:
# Getting values till current date

curr_val = data.DataReader(name="GOOG", data_source='yahoo', start=dt.date(2015,1,1), 
                           end=dt.datetime.now())
curr_val

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-12-31,531.141724,524.360352,529.795471,524.958740,1368246.0,524.958740
2015-01-02,529.815369,522.665039,527.561584,523.373108,1447563.0,523.373108
2015-01-05,522.894409,511.655243,521.827332,512.463013,2059840.0,512.463013
2015-01-06,514.761719,499.678131,513.589966,500.585632,2899940.0,500.585632
2015-01-07,505.855164,498.281952,505.611847,499.727997,2065054.0,499.727997
...,...,...,...,...,...,...
2021-04-14,2277.989990,2249.189941,2275.159912,2254.840088,1011000.0,2254.840088
2021-04-15,2306.596924,2266.000000,2276.979980,2296.659912,1373600.0,2296.659912
2021-04-16,2306.439941,2284.449951,2303.000000,2297.760010,1129800.0,2297.760010
2021-04-19,2318.449951,2287.844971,2291.979980,2302.399902,1233600.0,2302.399902
2021-04-20,2309.175049,2271.725098,2307.889893,2293.629883,1088749.0,2293.629883

In [69]:
curr_val.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-04-14,2277.989990,2249.189941,2275.159912,2254.840088,1011000.0,2254.840088
2021-04-15,2306.596924,2266.000000,2276.979980,2296.659912,1373600.0,2296.659912
2021-04-16,2306.439941,2284.449951,2303.000000,2297.760010,1129800.0,2297.760010
2021-04-19,2318.449951,2287.844971,2291.979980,2302.399902,1233600.0,2302.399902
2021-04-20,2309.175049,2271.725098,2307.889893,2293.629883,1088749.0,2293.629883

In [70]:
curr_val.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1586 entries, 2014-12-31 to 2021-04-20
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1586 non-null   float64
 1   Low        1586 non-null   float64
 2   Open       1586 non-null   float64
 3   Close      1586 non-null   float64
 4   Volume     1586 non-null   float64
 5   Adj Close  1586 non-null   float64
dtypes: float64(6)
memory usage: 86.7 KB

In [71]:
curr_val.index

DatetimeIndex(['2014-12-31', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [72]:
# incrementing by days

curr_val.index + pd.DateOffset(days = 5)

DatetimeIndex(['2015-01-05', '2015-01-07', '2015-01-10', '2015-01-11',
               '2015-01-12', '2015-01-13', '2015-01-14', '2015-01-17',
               '2015-01-18', '2015-01-19',
               ...
               '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-17',
               '2021-04-18', '2021-04-19', '2021-04-20', '2021-04-21',
               '2021-04-24', '2021-04-25'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [73]:
# incrementing by weeks

curr_val.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2015-01-14', '2015-01-16', '2015-01-19', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-26',
               '2015-01-27', '2015-01-28',
               ...
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-26',
               '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30',
               '2021-05-03', '2021-05-04'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [74]:
# decrementing by days

curr_val.index - pd.DateOffset(days = 5)

DatetimeIndex(['2014-12-26', '2014-12-28', '2014-12-31', '2015-01-01',
               '2015-01-02', '2015-01-03', '2015-01-04', '2015-01-07',
               '2015-01-08', '2015-01-09',
               ...
               '2021-04-02', '2021-04-03', '2021-04-04', '2021-04-07',
               '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11',
               '2021-04-14', '2021-04-15'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

<br>
_____________________________________________________________________________________________________________________________

### More techniques to use pd.DateOffset objects

In [75]:
stocks = data.DataReader(name="GOOG", data_source='yahoo', start=dt.date(2015,1,1), 
                         end=dt.datetime.now())
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-12-31,531.141724,524.360352,529.795471,524.958740,1368246.0,524.958740
2015-01-02,529.815369,522.665039,527.561584,523.373108,1447563.0,523.373108
2015-01-05,522.894409,511.655243,521.827332,512.463013,2059840.0,512.463013
2015-01-06,514.761719,499.678131,513.589966,500.585632,2899940.0,500.585632
2015-01-07,505.855164,498.281952,505.611847,499.727997,2065054.0,499.727997
...,...,...,...,...,...,...
2021-04-14,2277.989990,2249.189941,2275.159912,2254.840088,1011000.0,2254.840088
2021-04-15,2306.596924,2266.000000,2276.979980,2296.659912,1373600.0,2296.659912
2021-04-16,2306.439941,2284.449951,2303.000000,2297.760010,1129800.0,2297.760010
2021-04-19,2318.449951,2287.844971,2291.979980,2302.399902,1233600.0,2302.399902
2021-04-20,2309.175049,2271.725098,2307.889893,2293.629883,1088749.0,2293.629883

In [76]:
# this will look at the date and find the next month end

stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2015-01-31', '2015-01-31', '2015-01-31', '2015-01-31',
               '2015-01-31', '2015-01-31', '2015-01-31', '2015-01-31',
               '2015-01-31', '2015-01-31',
               ...
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

# OR

In [77]:
# Import all the libraries from pandas.tseries.offsets

from pandas.tseries.offsets import *

stocks.index - MonthEnd()

stocks.index + BMonthEnd()  # Business month

stocks.index - BMonthEnd()  # Last availabel business month

DatetimeIndex(['2014-11-28', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31',
               ...
               '2021-03-31', '2021-03-31', '2021-03-31', '2021-03-31',
               '2021-03-31', '2021-03-31', '2021-03-31', '2021-03-31',
               '2021-03-31', '2021-03-31'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [78]:
stocks.index

DatetimeIndex(['2014-12-31', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [79]:
# Look end of the quarter 

stocks.index + QuarterEnd()

DatetimeIndex(['2015-03-31', '2015-03-31', '2015-03-31', '2015-03-31',
               '2015-03-31', '2015-03-31', '2015-03-31', '2015-03-31',
               '2015-03-31', '2015-03-31',
               ...
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-06-30'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [80]:
# Look beginning of the quarter

stocks.index - QuarterEnd()

DatetimeIndex(['2014-09-30', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31',
               ...
               '2021-03-31', '2021-03-31', '2021-03-31', '2021-03-31',
               '2021-03-31', '2021-03-31', '2021-03-31', '2021-03-31',
               '2021-03-31', '2021-03-31'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [81]:
# Look at end of the Year End

stocks.index - YearEnd()

DatetimeIndex(['2013-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31', '2014-12-31', '2014-12-31',
               '2014-12-31', '2014-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

In [82]:
# Look at beginning of the Year End

stocks.index + YearEnd()

DatetimeIndex(['2015-12-31', '2015-12-31', '2015-12-31', '2015-12-31',
               '2015-12-31', '2015-12-31', '2015-12-31', '2015-12-31',
               '2015-12-31', '2015-12-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=1586, freq=None)

<br>
_____________________________________________________________________________________________________________________________

### Timedelta object

- Not a specific date but a duration or laps in time.

In [85]:
TimeA = pd.Timestamp("2016-05-25")

TimeB = pd.Timestamp("2016-05-15")

In [86]:
TimeA - TimeB

Timedelta('10 days 00:00:00')

This is what we call as Timedelta object.

Example: My exam is getting over after 2 days

In [87]:
TimeC = pd.Timestamp("2016-05-25 06:30:00 PM")

TimeD = pd.Timestamp("2016-05-15 06:30:55 AM")

In [88]:
TimeC - TimeD

Timedelta('10 days 11:59:05')

In [90]:
pd.Timedelta(days=3, minutes=45, hours=11, seconds=12)

Timedelta('3 days 11:45:12')

In [91]:
pd.Timedelta(days=3, minutes=45, hours=11, seconds=12, weeks=9)

Timedelta('66 days 11:45:12')

In [93]:
pd.Timedelta("12 hours 5 minutes 28 seconds")

Timedelta('0 days 12:05:28')

In [96]:
pd.Timedelta("3 days 12 hours 5 minutes 28 seconds")

Timedelta('3 days 12:05:28')

### Timedelta in real life

In [104]:
df = pd.read_csv(r"D:\courses\Udemy - Data Analysis with Pandas and Python data\ecommerce.csv", index_col='ID',
                 parse_dates=['order_date', 'delivery_date'])
df.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [107]:
delay = df['delivery_date'] - df['order_date']
delay

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [108]:
delay.max()

Timedelta('3583 days 00:00:00')

In [109]:
delay.min()

Timedelta('8 days 00:00:00')

In [110]:
df['Order_delay'] = delay

In [111]:
df.head()

   order_date delivery_date Order_delay
ID
1  1998-05-24    1999-02-05    257 days
2  1992-04-22    1998-03-06   2144 days
4  1991-02-10    1992-08-26    563 days
5  1992-07-21    1997-11-20   1948 days
7  1993-09-02    1998-06-10   1742 days

In [112]:
df['delivery_date'] + df['Order_delay']

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [113]:
df['delivery_date'] - df['Order_delay']

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
         ...
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [114]:
df['Order_delay'] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Order_delay, Length: 501, dtype: bool

In [115]:
df[df['Order_delay'] > "365 days"]

    order_date delivery_date Order_delay
ID
2   1992-04-22    1998-03-06   2144 days
4   1991-02-10    1992-08-26    563 days
5   1992-07-21    1997-11-20   1948 days
7   1993-09-02    1998-06-10   1742 days
9   1990-01-25    1994-10-02   1711 days
..         ...           ...         ...
986 1990-12-10    1992-12-16    737 days
990 1991-06-24    1996-02-02   1684 days
991 1991-09-09    1998-03-30   2394 days
993 1990-11-16    1998-04-27   2719 days
997 1990-01-04    1991-10-03    637 days

[394 rows x 3 columns]