In [1]:
import pandas as pd
import datetime as dt

# Review of python's datetime module

### Date

In [2]:
someday = dt.date(2016, 4, 12)
print("Someday: ", someday)

print("Year: ",someday.year)

print("Month: ",someday.month)

print("Day: ",someday.day)

Someday:  2016-04-12
Year:  2016
Month:  4
Day:  12

### Datetime

In [3]:
dt.datetime(2016, 1, 12)

datetime.datetime(2016, 1, 12, 0, 0)

In [4]:
dt.datetime(2016, 1, 12, 8, 15, 20)

datetime.datetime(2016, 1, 12, 8, 15, 20)

In [5]:
str(dt.datetime(2016, 1, 12, 8, 15, 20))

'2016-01-12 08:15:20'

In [6]:
sometime = dt.datetime(2016, 1, 12, 8, 15, 20)
print("Sometime: ", sometime)

print("Year: ",sometime.year)

print("Month: ",sometime.month)

print("Day: ",sometime.day)

print("Hr: ",sometime.hour)

print("Mins: ",sometime.minute)

print("Sec: ",sometime.second)

Sometime:  2016-01-12 08:15:20
Year:  2016
Month:  1
Day:  12
Hr:  8
Mins:  15
Sec:  20

### Pandas Timestamp object

In [7]:
print(pd.Timestamp("2015-03-01"))      # YYYY-MM-DD

print(pd.Timestamp("2015/03/01"))      # YYYY-MM-DD

print(pd.Timestamp("2015,01,03"))      # YYYY-DD-MM  

print(pd.Timestamp("3,1,15"))          # MM-DD-YYYY

print(pd.Timestamp("3/22/2012"))       # Automatic Detection

print(pd.Timestamp("2016-03-23 06:35:30"))

print(pd.Timestamp("2016-03-23 06:35:30 PM"))

2015-03-01 00:00:00
2015-03-01 00:00:00
2015-03-01 00:00:00
2015-03-01 00:00:00
2012-03-22 00:00:00
2016-03-23 06:35:30
2016-03-23 18:35:30

### Pandas DateTimeIndex Object

In [8]:
dates = ['2016-01-02','2019-05-12','2021-12-22']

In [9]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2019-05-12', '2021-12-22'], dtype='datetime64[ns]', freq=None)

In [10]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 23)]

dt_index = pd.DatetimeIndex(dates)

dt_index

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-23'], dtype='datetime64[ns]', freq=None)

In [11]:
values = [100, 200, 300]
pd.Series(data = values, index = dt_index)

2016-01-10    100
1994-06-13    200
2003-12-23    300
dtype: int64

### pd.to_datetime() method

In [12]:
print(pd.to_datetime("2009-04-19"))

print(pd.to_datetime(dt.date(2005,1,1)))

print(pd.to_datetime(dt.datetime(2015,1,1, 14,35,22)))

print(pd.to_datetime(["2015-09-12", "2015/09/12", "2016", "July 4th, 1996"]))

2009-04-19 00:00:00
2005-01-01 00:00:00
2015-01-01 14:35:22
DatetimeIndex(['2015-09-12', '2015-09-12', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [13]:
values = pd.Series(["2015-09-12", "2015/09/12", "2016", "July 4th, 1996"])

pd.to_datetime(values)

0   2015-09-12
1   2015-09-12
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [14]:
values = pd.Series(["2015-09-12", "2015/09/12", "Hello", "2016", "July 4th, 1996", "2015/28/28"])

pd.to_datetime(values, errors='coerce')  # errors='coerce' avoid errors

0   2015-09-12
1   2015-09-12
2          NaT
3   2016-01-01
4   1996-07-04
5          NaT
dtype: datetime64[ns]

### pd.date_range()

In [15]:
# 2 or more parameters are reqquired

times = pd.date_range(start="2016-01-01", end="2016-01-10", freq='D')
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [18]:
times2 = pd.date_range(start="2016-01-01", end="2016-01-10", freq='2D')
times2

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

We can have:
    
B: For business days ( EXCLUDE WEEKDAYS )
W: Day of the week
W-SUN: Day of the week from which we wanna start